
ShoppingDemo.xcodeproj/project.xcworkspace/xcuserdata/wrigley.xcuserdatad/UserInterfaceState.xcuserstate

ShoppingDemo.xcodeproj/xcuserdata/wrigley.xcuserdatad/xcschemes/ShoppingDemo.xcscheme

ShoppingDemo.xcodeproj/xcuserdata/wrigley.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

.DS_Store
